<div>
    <h4>{{vmd.title}}</h4>
    <p>
        <button class="btn btn-danger btn-sm" ng-click="vmd.deleteAll()"><span class="glyphicon glyphicon-trash"></span> Delete All</button>
    </p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
                <th>Download</th>
                <th>Open</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in vmd.files">
                <td>
                    <a ng-click="vmd.toggle('edit',file.id)" ng-show="file.action === 'view'" href="javascript:void(0)">
                        <span class="glyphicon glyphicon-pencil"></span>  {{file.name}}
                    </a>
                    <div ng-show="file.action === 'edit'">
                        <input ng-model="file.newValue" />
                        <button ng-click="vmd.toggle('view',file.id)">Save</button>
                        <button ng-click="vmd.toggle('view',file.id,'cancel')">Cancel</button>
                    </div>
                </td>
                <td><a href="javascript:void(0)" ng-click="vmd.deleteFile(file.id)"><span class="glyphicon glyphicon-remove"></span> </a></td>
                <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                <td><a href="javascript:void(0)"><span class="glyphicon glyphicon-folder-open"></span></a></td>
            </tr>
            <tr ng-show="vmd.files === null || vmd.files.length === 0">
                <td colspan="4">No files</td>
            </tr>
        </tbody>
    </table>
</div>