<form>
    <select ng-model="vm.folder.lob">
        <option value="KR">KR/CGY/DISAB</option>
        <option value="TRI">TRI</option>
        <option value="DO">All LOB</option>
    </select>
    <select ng-model="vm.folder.type">
        <option value="None">None</option>
        <option value="Fac out">Fac out</option>
        <option value="SME Facilities">SME Facilities</option>
        <option value="Local Policies">Local Policies</option>
    </select>
    <button ng-click="vm.click()">Submit</button>
</form>

<mandatory folder="vm.realFolder" title="Mandatory"></mandatory>