<div class="row">
    <div class="col-xs-8 well">
        <uib-alert type="danger" ng-hide="vmd.modalHidden" close="vmd.closeModal()">You can't drag files being N/A</uib-alert>
        <div ng-click="vmd.addFile()">{{vmd.title}}</div>
    </div>
    <div class="col-xs-1">
        <a href="javascript:void(0)" ng-show="vmd.hasFiles()" ng-click="vmd.openFilesModal()">
            <span class="glyphicon glyphicon-paperclip"></span> {{vmd.getNumberOfFiles()}}
        </a>
    </div>
    <div class="col-xs-3">
        <dropdown-button options="vmd.options" current="vmd.currentState" on-my-change="vmd.changeState(value)"></dropdown-button>
    </div>
</div>
